/* a[target="_blank"]{
    background-color: blue;
}
a[title~="name-sudipta"]{
    background-color: red;
} */
/*class ar id ar akta select kora start*/
/* div[class|="child"]{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
}
div[id|="child"]{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
} */
/*class ar id ar akta select kora end*/
/*class ar id ar sobgulo select kora start*/
/* div[class^="child"]{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    margin-bottom: 5px;
}
div[id^="child"]{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    margin-bottom: 5px;
} */
/*class ar id ar sobgulo select kora end*/
/* .one{
    width: 200px;
    height: 160px;
    padding: 10px;
    border: 2px solid gray;
} */


/*project start*/


/* .ipsum{
    width: 100%;
    background: #ddd;
}
.child{
    width: 72%;
    background-color: rgba(59, 17, 186, 0.29);
    float: left;
    border-radius: 5px;
    margin: 10px;
    border: 5px solid blueviolet;
}

.p1,.p2,.p4,.p3 {
	width: 186px;
    background-color: #ddd;
	padding: 10px;
	margin: 10px 10px;
	border: 1px solid black;
    float: left;
    border-radius: 5px;
} */
/*project end*/


/*first project*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-image: url("./image/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #0000008c;
}
.h1 h1 {
	font-size: 30px;
	position: relative;
	top: 39px;
	color: white;
}
.text {
	background-color: #ddd;
	display: flex;
	width: 78%;
	position: relative;
	top: -28px;
	left: 228px;
	border: 3px solid black;
	margin: 5px;
}
.text .p1, .p2, .p3, .p4 {
	border: 2px solid yellow;
	background-color: #34349378;
    padding: 5px;
}
.table {
	text-align: center;
	margin-left: 20%;
	padding: 28px;
    color: #ddd;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
}
thead td{
    padding: 14px 35px;
    border: 1px solid red;
    font-size: 20px;
}
tbody td{
    padding: 7px;
    font-size: 20px;
}

tfoot td{
    padding: 7px;
    font-size: 20px;
}
.title h2{
    font-weight: 100;
    font-family: sans-serif;
    text-align: center;
    color: aqua;

}
.title h2:hover{
    color: chartreuse;
    background-image: url("./image/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    margin-left: 20%;
}

























